.form-text{
    color: #ffa801;
}

.form-group label{
    font-weight: 100;
}

p{
    font-size: 18px;
}

.btn{
    width: 40%;
    border-radius: 25px;
}

.icon{
    font-size: 20px;
    color: #57606f;
    cursor: pointer;
}

.forgot-text {
    color: #ffa801;
    text-decoration-line: underline;
    cursor: pointer;
}
