<div class="text-right" (click)="closeDialog()">
    <i class="far fa-times-circle icon"></i>
</div>

<div class="text-center m-4" (click)="closeDialog()">
    <img src="../../../assets/img/logo2.svg" >
</div>

<div class="text-center">
    <h2><strong>Forgot your password ? </strong></h2>
    <p  style="color: #ffa801;">
    Enter your email address and we'll send you a link to reset your password</p>
</div>

<form [formGroup]="forgotForm" (ngSubmit)="submit()">
    <div class="form-group">
      <input formControlName="email" type="email" class="form-control" [ngStyle]="{'border-color' : !forgotForm.controls.email.pristine && forgotForm.controls.email.errors ? '#ffa801' : 'blue' }" placeholder="Enter email">
      <small class="form-text" *ngIf="!forgotForm.controls.email.pristine && forgotForm.controls.email.hasError('email') && !forgotForm.controls.email.hasError('required')">
          Please enter valid email address
      </small>
      <small class="form-text" *ngIf="!forgotForm.controls.email.pristine && forgotForm.controls.email.hasError('required')">
        Email is required
      </small>
    </div>
    <div class="text-center mt-2">
        <button type="submit" (click)="submit()" class="btn btn-primary">Submit</button>
        <h5 class="mt-2">Do you have an account? <span style="color: #ffa801;cursor: pointer;" (click)="openLoginDialog()">Back to login!</span> </h5>
    </div>
  </form>